{% extends 'base.html' %}
{% load thumbnail cache %}

{% block title %}Обновления моих подписок{% endblock %} 

{% block content %}
  {% include 'posts/includes/switcher.html' with follow=True %}
  
  <h1>Обновления моих подписок</h1>
  {% cache 20 index_page page_obj.number %}
    {% for post in page_obj %}
      {% include 'posts/includes/post_list.html' with show_profile_link=True show_group_link=True %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %} 
  {% endcache %} 
  {% include 'includes/paginator.html' %}
{% endblock %} 